In [3]:
#import folium
#from folium.plugins import MarkerCluster
#from folium.plugins import FastMarkerCluster
#from folium.plugins import HeatMap
import os
import pandas as pd
#import geopandas as gpd
import requests
import zipfile

/Users/fannylemus/Library/Python/3.9/lib/python/site-packages/urllib3/__init__.py:34: NotOpenSSLWarning: urllib3 v2.0 only supports OpenSSL 1.1.1+, currently the 'ssl' module is compiled with 'LibreSSL 2.8.3'. See: https://github.com/urllib3/urllib3/issues/3020
  warnings.warn(

In [4]:
try:
    os.chdir("/Users/fannylemus/Documents/datos")
except:
    os.chdir("/Users/fannylemus/Documents/datos")

## Descarga de archivos del Denue

In [5]:
def download_and_extract(url, filename, check_file_path, extract_path):
    # Checar si el archivo ya existe
    if os.path.isfile(check_file_path):
        print(f"El archivo {filename} existe, no se descargará.")
    else:
        print(f"El archivo {filename} no existe. Descargando.")
        response = requests.get(url)
        with open(filename, "wb") as code:
            code.write(response.content)
        
        # extraer zip
        with zipfile.ZipFile(filename, "r") as zip_ref:
            zip_ref.extractall(extract_path)
        
        # Eliminar zip
        os.remove(filename)

In [6]:
# Lista de archivos para descargar
files_to_download = [
    {
        "url": "https://www.inegi.org.mx/contenidos/masiva/denue/denue_00_46111_csv.zip",
        "filename": "denue_inegi_46111_csv.zip",
        "check_file_path": "conjunto_de_datos/denue_inegi_46111_csv"
    },
    {
        "url": "https://www.inegi.org.mx/contenidos/masiva/denue/denue_00_46112-46311_csv.zip",
        "filename": "denue_inegi_46112_46311_csv.zip",
        "check_file_path": "conjunto_de_datos/denue_inegi_46112_46311.csv"
    },
    {
        "url": "https://www.inegi.org.mx/contenidos/masiva/denue/denue_00_46321-46531_csv.zip",
        "filename": "denue_inegi_46321_46531_csv.zip",
        "check_file_path": "conjunto_de_datos/denue_inegi_46321_46531.csv"
    },
    {
        "url": "https://www.inegi.org.mx/contenidos/masiva/denue/denue_00_46591-46911_csv.zip",
        "filename": "denue_inegi_6591_46911_csv.zip",
        "check_file_path": "conjunto_de_datos/denue_inegi_6591_46911.csv"
    }
]
for file in files_to_download:
    download_and_extract(file["url"], file["filename"], file["check_file_path"], os.getcwd())

El archivo denue_inegi_46111_csv.zip no existe. Descargando.
El archivo denue_inegi_46112_46311_csv.zip no existe. Descargando.
El archivo denue_inegi_46321_46531_csv.zip no existe. Descargando.
El archivo denue_inegi_6591_46911_csv.zip no existe. Descargando.

In [7]:
#Lectura de datos de comercio al por menos
#Identificar los archivos csv
archivos=os.listdir("conjunto_de_datos")
archivos

['denue_inegi_46112-46311_.csv',
 'denue_inegi_46321-46531_.csv',
 'denue_inegi_46111_.csv',
 'denue_inegi_46591-46911_.csv']

## Descarga de información de supermercados

In [8]:
#Pegar los archvios en un solo dataframe
df=pd.DataFrame()
for i in archivos:
    df=pd.concat([df,pd.read_csv("conjunto_de_datos/"+i,encoding="latin-1")],axis=0)
df.shape

/var/folders/7s/6dg646794vzfr0p_f36fxvjm0000gn/T/ipykernel_12463/3992135679.py:4: DtypeWarning: Columns (35) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.concat([df,pd.read_csv("conjunto_de_datos/"+i,encoding="latin-1")],axis=0)
/var/folders/7s/6dg646794vzfr0p_f36fxvjm0000gn/T/ipykernel_12463/3992135679.py:4: DtypeWarning: Columns (35) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.concat([df,pd.read_csv("conjunto_de_datos/"+i,encoding="latin-1")],axis=0)
/var/folders/7s/6dg646794vzfr0p_f36fxvjm0000gn/T/ipykernel_12463/3992135679.py:4: DtypeWarning: Columns (35,37) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.concat([df,pd.read_csv("conjunto_de_datos/"+i,encoding="latin-1")],axis=0)
/var/folders/7s/6dg646794vzfr0p_f36fxvjm0000gn/T/ipykernel_12463/3992135679.py:4: DtypeWarning: Columns (35) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.concat([df,pd.read_csv("conjunto_de_datos/"+i,encoding="latin-1")],axis=0)

(2237032, 42)

In [9]:
print(df['codigo_act'].unique())

[462210 462112 462111 461190 461122 461212 461130 461160 461211 461150
 461213 461140 461121 463112 463113 461123 463111 461170 461220 464121
 463211 465311 465212 463310 465216 465215 464111 463215 463216 463212
 463213 463217 465213 465111 463214 464113 465214 464122 465112 465211
 463218 465313 465312 464112 461110 468111 468112 467112 468411 466410
 465919 466112 467115 467116 466211 465911 466212 466111 468211 467111
 468212 465914 468420 467114 466312 468213 465915 467113 465912 466114
 466319 466311 466314 468412 468419 466313 468311 468413 465913 467117
 468414 466113 469110 468319]

In [10]:
#Filtramos por estado Guerrero
df=df[df["entidad"]=="GUERRERO"]
df=df[df["codigo_act"]==462111]
df.head(5)

,id,clee,nom_estab,raz_social,codigo_act,nombre_act,per_ocu,tipo_vial,nom_vial,tipo_v_e_1,...,localidad,ageb,manzana,telefono,correoelec,www,tipoUniEco,latitud,longitud,fecha_alta
155147,6328829,12001462111000043000000404S0,6044 WALDOS ACAPULCO CENTRO,WALDO S DOLAR MART DE MEXICO S DE RL DE CV,462111,Comercio al por menor en supermercados,11 a 30 personas,CALLE,AQUILES SERDAN,CALLE,...,Acapulco de Juárez,283A,16,NaN,NaN,WWW.WALDOS.COM,Fijo,16.856768,-99.903965,2010-07
155148,6328831,12029462111000043002000404S1,6054 WALDOS CHILPANCINGO,WALDO S DOLAR MART DE MEXICO S DE RL DE CV,462111,Comercio al por menor en supermercados,11 a 30 personas,CALLE,PASEO ALEJANDRO CERVANTES DELGADO,CALLE,...,Chilpancingo de los Bravo,1118,34,NaN,NaN,WWW.WALDOS.COM,Fijo,17.542320,-99.501103,2010-07
155149,6328830,12001462111000033000000404S1,6064 WALDOS ACAPULCO RENACIMIENTO,WALDO S DOLAR MART DE MEXICO S DE RL DE CV,462111,Comercio al por menor en supermercados,11 a 30 personas,BOULEVARD,VICENTE GUERRERO,EJE VIAL,...,Acapulco de Juárez,027A,16,NaN,NaN,WWW.WALDOS.COM,Fijo,16.873208,-99.900197,2010-07
155150,6328833,12038462111000013000000404S5,6069 WALDOS ZIHUATANEJO,WALDO S DOLAR MART DE MEXICO S DE RL DE CV,462111,Comercio al por menor en supermercados,11 a 30 personas,CALLE,ANTONIA NAVA,CALLE,...,Zihuatanejo,0570,9,NaN,NaN,WWW.WALDOS.COM,Fijo,17.642102,-101.557128,2010-07
155151,6328832,12035462111000022000000404S2,6110 WALDOS IGUALA,WALDO S DOLAR MART DE MEXICO S DE RL DE CV,462111,Comercio al por menor en supermercados,11 a 30 personas,CALLE,IGNACIO MANUEL ALTAMIRANO,CALLE,...,Iguala de la Independencia,1276,14,NaN,NaN,WWW.WALDOS.COM,Fijo,18.339938,-99.540253,2010-07

In [11]:
df.shape

(160, 42)

In [12]:
#guardamos el csv para mapa
df.to_csv('supermercados_gro.csv', index=False)

In [25]:

print(df['raz_social'].unique())

['WALDO S DOLAR MART DE MEXICO S DE RL DE CV' 'TIENDAS SORIANA SA DE CV'
 'SUPERLA SA DE CV' 'NUEVA WAL MART DE MEXICO S DE RL DE CV' nan
 'BODEGA AURRERA ' 'TIENDAS CHEDRAUI SA DE CV' 'COMERCENTER '
 'COMERCIAL CITY FRESKO S DE RL DE CV' 'SUPERISSSTE '
 'COORPORATIVO FUT CENTER '
 'GRUPO INTERNACIONAL DE COMERCIOS Y SERVICIOS SA DE CV' '0CONDE SA DE CV'
 'WALDOS DOLAR MART DE MEXICO S DE RL DE CV'
 'INSTITUTO MEXICANO DEL SEGURO SOCIAL ']

In [14]:

print(df['nom_estab'].unique())

['6044 WALDOS ACAPULCO CENTRO' '6054 WALDOS CHILPANCINGO'
 '6064 WALDOS ACAPULCO RENACIMIENTO' '6069 WALDOS ZIHUATANEJO'
 '6110 WALDOS IGUALA' '6226 WALDOS PATIO ACAPULCO' '6230 ACAPULCO POSADA'
 'ACAPULCO RENACIMIENTO 399' 'ALMACEN DE   SUPERLA' 'AURRERA'
 'AUTOSERVICIOS ROCHA' 'B LA POLAR 2228' 'B PERIFÉRICO NORTE 2410'
 'B PIE DE LA CUESTA 2340' 'BA EXPRESS ACAPULCO BAJA CALIFORNIA 3694'
 'BA EXPRESS ACAPULCO LA CAÑADA 1221' 'BA EXPRESS CARITINO MALDONADO 5479'
 'BA EXPRESS LA VENTA 3995' 'BA EXPRESS PERPETUO SOCORRO 5449'
 'BA EXPRESS RENACIMIENTO CORREOS 3997' 'BA EXPRESS SINAI 2903'
 'BODEGA ACAPULCO COSTERA 3779' 'BODEGA ACAPULCO UNIVERSIDAD 2026'
 'BODEGA ALTAMIRANO 1056' 'BODEGA AURRERA'
 'BODEGA AURRERA EXPRESS CUMBRES 1222'
 'BODEGA AURRERA EXPRESS LA ARENA VELADERO 3994'
 'BODEGA AURRERA EXPRESS PALENQUE SAN AGUSTIN 1275'
 'BODEGA AURRERA EXPRESS REFORMA ACAPULCO 1273' 'BODEGA CHILPANCINGO 1057'
 'BODEGA CHILPANCINGO NORTE 3230' 'BODEGA COLOSO II 3907'
 'BODEGA EL CARACOL 1497' 'BODEGA IGUALA 3911' 'BODEGA LA CAÑADA 5600'
 'BODEGA LIBRAMIENTO TAXCO 3000' 'BODEGA RENACIMIENTO 3806'
 'BODEGA SORIANA SUCURSAL HAMACAS' 'BODEGA TLAPA DE COMONFORT 2667'
 'BODEGA ZIHUATANEJO 5799'
 'CENTROS COMERCIALES SORIANA SUCURSAL 274 ACAPULCO COSTERA'
 'CHEDRAUI ACAPULCO CAYACO T060' 'CHEDRAUI ACAPULCO DIAMANTE T138'
 'CHEDRAUI ACAPULCO PIE DE LA CUESTA T254' 'COMERCENTER'
 'COMIDAS Y ENSALADAS NETO' 'MB FLAMINGOS 2413'
 'MB MAURRERA CIUDAD HUITZUCO 2898' 'MEGA IGUALA' 'MI BODEGA ARCELIA 1721'
 'MI BODEGA AURRERA SAN MARCOS 1593' 'MI BODEGA AYUTLA DE LOS LIBRES 3675'
 'MI BODEGA CHILAPA DE ALVAREZ 1978' 'MI BODEGA COYUCA DE BENITEZ 3739'
 'MI BODEGA TELOLOAPAN 1444' 'MI BODEGA TIXTLA 2786'
 'MI BODEGA ZUMPANGO DEL RIO 2096' 'SAM S ACAPULCO 8127'
 'SAM S ACAPULCO DIAMANTE 4949' 'SAMS CHILPANCINGO 4937'
 'SAMS IGUALA 6221' 'SAMS ZIHUATANEJO 6252' 'SORIANA 246 SENDERO ACAPULCO'
 'SORIANA ACAPULCO CENTRO' 'SORIANA ACAPULCO SOL' 'SORIANA EXPRESS'
 'SORIANA HIPERMART CHILPANCINGO 528' 'SORIANA HIPERMART OMOTEPEC 585'
 'SORIANA HIPERMART PIE DE CUESTA 556' 'SORIANA IGUALA 236'
 'STIENDA SUPERISSSTE 228' 'SUPER ALAMEDA' 'SUPER AVENIDA' 'SUPER BARAJAS'
 'SUPER BODEGA' 'SUPER C CHIHUAHUA' 'SUPER C DIAZ' 'SUPER C LA UNION'
 'SUPER C MAYA' 'SUPER C MODELORAMA' 'SUPER CENTER'
 'SUPER CHE ACAPULCO CENTRO T705' 'SUPER COMERCIAL CAMPESINA'
 'SUPER COMPRAS CUTZAMALA' 'SUPER COMPRAS NICE TERESITA' 'SUPER CORAL'
 'SUPER DE PRISA' 'SUPER DE TODO' 'SUPER EL MUELLE' 'SUPER EL TREBOL'
 'SUPER FAMILIAR' 'SUPER FIESTA' 'SUPER FLASH CALETILLA' 'SUPER KARLA'
 'SUPER LA LANGOSTA' 'SUPER LEMON' 'SUPER LETY' 'SUPER LEXUS'
 'SUPER LOS GEMELOS' 'SUPER M PLUS' 'SUPER MARIEL' 'SUPER MARKET'
 'SUPER MART' 'SUPER MEGACEL' 'SUPER MISCELÁNEA' 'SUPER NAYELI'
 'SUPER NORMA' 'SUPER NOYULY' 'SUPER PALOMA' 'SUPER PEPE'
 'SUPER PLAYA FLAMINGOS' 'SUPER PLAYA MORROCOY' 'SUPER RUELA'
 'SUPER SAN JUDAS' 'SUPER SANTI' 'SUPER SODA' 'SUPER SUPER GLORIS'
 'SUPER TAXCO' 'SUPER TORRES' 'SUPER TORTUMART' 'SUPER TREBOL'
 'SUPER VNOS Y LICORES 7 Y 11' 'SUPER WENDY' 'SUPER YA' 'SUPER YA ALEX'
 'SUPER YA EL FUERTE' 'SUPER YA EL TRIUNFO' 'SUPER YA OASIS'
 'SUPER YA SUSY' 'SUPER YURI' 'SUPER ZITO' 'SUPER ZITTO'
 'SUPERAMA LA MARINA 2895' 'SUPERCENTER ACAPULCO 2349'
 'SUPERCENTER ACAPULCO DIAMANTE 1067' 'SUPERCENTER CHILPANCINGO 1684'
 'SUPERCHE ATOYAC T621' 'SUPERCHE CHILAPA T620' 'SUPERCHE OMETEPEC T633'
 'SUPERCHE TAXCO T603' 'SUPERCHE TELOLOAPAN T619'
 'SUPERCHE TLAPA DE COMORFORT T625' 'SUPERSERVI DAMIAN'
 'TIENDA COMERCIAL WALDOS' 'TIENDA DE AUTOSERVICIO  SUPERLA'
 'TIENDA DEL IMSS ACAPULCO' 'TIENDA DEL IMSS TAXCO T 103'
 'TIENDA SUPERISSSTE 154' 'TIENDA SUPERISSSTE 274'
 'TIENDAS SORIANA ACAPULCO DIAMANTE SUC 329'
 'TIENDAS SORIANA ACAPULCO SUC 141' 'TIENDAS SORIANA ACAPULCO SUC 51'
 'TIENDAS SORIANA COSTA AZUL SUC 157'
 'TIENDAS SORIANA SUC 124 ACAPULCO III'
 'TIENDAS SORIANA SUC 166 CHILPANCINGO'
 'TIENDAS SORIANA ZIHUATANEJO SUC 185'
 'VENTA DE ROPA DE PLAYA Y CURIOSIDADES SIN NOMBRE' 'YULI SUPER']

In [26]:
#Remplazar la variable raz_social=BODEGA AURRERA POR NUEVA WAL MART DE MEXICO S DE RL DE CV
df['raz_social'] = df['raz_social'].replace('BODEGA AURRERA ','NUEVA WAL MART DE MEXICO S DE RL DE CV')

In [28]:
df_w.shape

(48, 42)

In [19]:
df.head(1)

,id,clee,nom_estab,raz_social,codigo_act,nombre_act,per_ocu,tipo_vial,nom_vial,tipo_v_e_1,...,localidad,ageb,manzana,telefono,correoelec,www,tipoUniEco,latitud,longitud,fecha_alta
155147,6328829,12001462111000043000000404S0,6044 WALDOS ACAPULCO CENTRO,WALDO S DOLAR MART DE MEXICO S DE RL DE CV,462111,Comercio al por menor en supermercados,11 a 30 personas,CALLE,AQUILES SERDAN,CALLE,...,Acapulco de Juárez,283A,16,NaN,NaN,WWW.WALDOS.COM,Fijo,16.856768,-99.903965,2010-07

In [29]:
#conteo de establecimientos por razón social
counts = df.raz_social.value_counts()
percs = df.raz_social.value_counts(normalize=True)

df1=pd.concat([counts,percs], axis=1, keys=['count', 'percentage'])
df1

                                                    count  percentage
NUEVA WAL MART DE MEXICO S DE RL DE CV                 48    0.494845
TIENDAS SORIANA SA DE CV                               18    0.185567
TIENDAS CHEDRAUI SA DE CV                              10    0.103093
WALDO S DOLAR MART DE MEXICO S DE RL DE CV              7    0.072165
SUPERLA SA DE CV                                        3    0.030928
SUPERISSSTE                                             3    0.030928
INSTITUTO MEXICANO DEL SEGURO SOCIAL                    2    0.020619
COMERCENTER                                             1    0.010309
COMERCIAL CITY FRESKO S DE RL DE CV                     1    0.010309
COORPORATIVO FUT CENTER                                 1    0.010309
GRUPO INTERNACIONAL DE COMERCIOS Y SERVICIOS SA...      1    0.010309
0CONDE SA DE CV                                         1    0.010309
WALDOS DOLAR MART DE MEXICO S DE RL DE CV               1    0.010309

In [32]:
#Data frame de NUEVA WAL MART DE MEXICO S DE RL DE CV 
df_w=pd.DataFrame()
df_w=df[df["raz_social"]=="NUEVA WAL MART DE MEXICO S DE RL DE CV"]

print(df_w['nom_estab'].unique())

['AURRERA' 'B LA POLAR 2228' 'B PERIFÉRICO NORTE 2410'
 'B PIE DE LA CUESTA 2340' 'BA EXPRESS ACAPULCO BAJA CALIFORNIA 3694'
 'BA EXPRESS ACAPULCO LA CAÑADA 1221' 'BA EXPRESS CARITINO MALDONADO 5479'
 'BA EXPRESS LA VENTA 3995' 'BA EXPRESS PERPETUO SOCORRO 5449'
 'BA EXPRESS RENACIMIENTO CORREOS 3997' 'BA EXPRESS SINAI 2903'
 'BODEGA ACAPULCO COSTERA 3779' 'BODEGA ACAPULCO UNIVERSIDAD 2026'
 'BODEGA ALTAMIRANO 1056' 'BODEGA AURRERA'
 'BODEGA AURRERA EXPRESS CUMBRES 1222'
 'BODEGA AURRERA EXPRESS LA ARENA VELADERO 3994'
 'BODEGA AURRERA EXPRESS PALENQUE SAN AGUSTIN 1275'
 'BODEGA AURRERA EXPRESS REFORMA ACAPULCO 1273' 'BODEGA CHILPANCINGO 1057'
 'BODEGA CHILPANCINGO NORTE 3230' 'BODEGA COLOSO II 3907'
 'BODEGA EL CARACOL 1497' 'BODEGA IGUALA 3911' 'BODEGA LA CAÑADA 5600'
 'BODEGA LIBRAMIENTO TAXCO 3000' 'BODEGA RENACIMIENTO 3806'
 'BODEGA TLAPA DE COMONFORT 2667' 'BODEGA ZIHUATANEJO 5799'
 'MB FLAMINGOS 2413' 'MB MAURRERA CIUDAD HUITZUCO 2898'
 'MI BODEGA ARCELIA 1721' 'MI BODEGA AURRERA SAN MARCOS 1593'
 'MI BODEGA AYUTLA DE LOS LIBRES 3675' 'MI BODEGA CHILAPA DE ALVAREZ 1978'
 'MI BODEGA COYUCA DE BENITEZ 3739' 'MI BODEGA TELOLOAPAN 1444'
 'MI BODEGA TIXTLA 2786' 'MI BODEGA ZUMPANGO DEL RIO 2096'
 'SAM S ACAPULCO 8127' 'SAM S ACAPULCO DIAMANTE 4949'
 'SAMS CHILPANCINGO 4937' 'SAMS IGUALA 6221' 'SAMS ZIHUATANEJO 6252'
 'SUPERAMA LA MARINA 2895' 'SUPERCENTER ACAPULCO 2349'
 'SUPERCENTER ACAPULCO DIAMANTE 1067' 'SUPERCENTER CHILPANCINGO 1684']

### Datos Wal Mart

In [42]:
#limpiamos la variable nom_estab en la nueva variable establecimiento
df_w['establecimiento'] = pd.np.where(df_w.nom_estab.str.contains("BODEGA AURRERA EXPRESS"), "BODEGA AURRERA EXPRESS",
                    pd.np.where(df_w.nom_estab.str.contains("BA EXPRESS"), "BODEGA AURRERA EXPRESS",
                    pd.np.where(df_w.nom_estab.str.contains("MI BODEGA"), "MI BODEGA",
                    pd.np.where(df_w.nom_estab.str.contains("SAM S"), "SAMS",
                    pd.np.where(df_w.nom_estab.str.contains("SAMS"), "SAMS",
                    pd.np.where(df_w.nom_estab.str.contains("SUPERAMA"), "SUPERAMA",
                    pd.np.where(df_w.nom_estab.str.contains("WAL MART"), "WAL MART",
                    pd.np.where(df_w.nom_estab.str.contains("SUPERCENTER"), "WAL MART",
                    pd.np.where(df_w.nom_estab.str.contains("BODEGA"), "BODEGA AURRERA",
                    pd.np.where(df_w.nom_estab.str.contains("AURRERA"), "BODEGA AURRERA",
                    pd.np.where(df_w.nom_estab.str.contains("B"), "BODEGA AURRERA",
                    pd.np.where(df_w.nom_estab.str.contains("MB"), "MI BODEGA", df_w.nom_estab)))))))))))


)

df_w.head(1)

/var/folders/7s/6dg646794vzfr0p_f36fxvjm0000gn/T/ipykernel_12463/1863997750.py:1: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  df_w['establecimiento'] = pd.np.where(df_w.nom_estab.str.contains("BODEGA AURRERA EXPRESS"), "BODEGA AURRERA EXPRESS",
/var/folders/7s/6dg646794vzfr0p_f36fxvjm0000gn/T/ipykernel_12463/1863997750.py:2: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  pd.np.where(df_w.nom_estab.str.contains("BA EXPRESS"), "BODEGA AURRERA EXPRESS",
/var/folders/7s/6dg646794vzfr0p_f36fxvjm0000gn/T/ipykernel_12463/1863997750.py:3: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  pd.np.where(df_w.nom_estab.str.contains("MI BODEGA"), "MI BODEGA",
/var/folders/7s/6dg646794vzfr0p_f36fxvjm0000gn/T/ipykernel_12463/1863997750.py:4: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  pd.np.where(df_w.nom_estab.str.contains("SAM S"), "SAMS",
/var/folders/7s/6dg646794vzfr0p_f36fxvjm0000gn/T/ipykernel_12463/1863997750.py:5: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  pd.np.where(df_w.nom_estab.str.contains("SAMS"), "SAMS",
/var/folders/7s/6dg646794vzfr0p_f36fxvjm0000gn/T/ipykernel_12463/1863997750.py:6: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  pd.np.where(df_w.nom_estab.str.contains("SUPERAMA"), "SUPERAMA",
/var/folders/7s/6dg646794vzfr0p_f36fxvjm0000gn/T/ipykernel_12463/1863997750.py:7: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  pd.np.where(df_w.nom_estab.str.contains("WAL MART"), "WAL MART",
/var/folders/7s/6dg646794vzfr0p_f36fxvjm0000gn/T/ipykernel_12463/1863997750.py:8: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  pd.np.where(df_w.nom_estab.str.contains("SUPERCENTER"), "WAL MART",
/var/folders/7s/6dg646794vzfr0p_f36fxvjm0000gn/T/ipykernel_12463/1863997750.py:9: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  pd.np.where(df_w.nom_estab.str.contains("BODEGA"), "BODEGA AURRERA",
/var/folders/7s/6dg646794vzfr0p_f36fxvjm0000gn/T/ipykernel_12463/1863997750.py:10: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  pd.np.where(df_w.nom_estab.str.contains("AURRERA"), "BODEGA AURRERA",
/var/folders/7s/6dg646794vzfr0p_f36fxvjm0000gn/T/ipykernel_12463/1863997750.py:11: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  pd.np.where(df_w.nom_estab.str.contains("B"), "BODEGA AURRERA",
/var/folders/7s/6dg646794vzfr0p_f36fxvjm0000gn/T/ipykernel_12463/1863997750.py:12: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  pd.np.where(df_w.nom_estab.str.contains("MB"), "MI BODEGA", df_w.nom_estab)))))))))))
/var/folders/7s/6dg646794vzfr0p_f36fxvjm0000gn/T/ipykernel_12463/1863997750.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_w['establecimiento'] = pd.np.where(df_w.nom_estab.str.contains("BODEGA AURRERA EXPRESS"), "BODEGA AURRERA EXPRESS",

,id,clee,nom_estab,raz_social,codigo_act,nombre_act,per_ocu,tipo_vial,nom_vial,tipo_v_e_1,...,ageb,manzana,telefono,correoelec,www,tipoUniEco,latitud,longitud,fecha_alta,establecimiento
155313,9280098,12001462111000634000002514S6,AURRERA,NUEVA WAL MART DE MEXICO S DE RL DE CV,462111,Comercio al por menor en supermercados,31 a 50 personas,CALLE,15A,CALLE,...,0814,17,NaN,NaN,NaN,Fijo,16.905213,-99.83501,2020-11,BODEGA AURRERA

In [46]:
print(df_w['establecimiento'].unique())

['BODEGA AURRERA' 'BODEGA AURRERA EXPRESS' 'MI BODEGA' 'SAMS' 'SUPERAMA'
 'WAL MART']

In [47]:
#conteo de establecimientos por nombre de establecimiento
counts = df_w.establecimiento.value_counts()
percs = df_w.establecimiento.value_counts(normalize=True)

df_w1=pd.concat([counts,percs], axis=1, keys=['count', 'percentage'])
df_w1

                        count  percentage
BODEGA AURRERA             20    0.416667
BODEGA AURRERA EXPRESS     11    0.229167
MI BODEGA                   8    0.166667
SAMS                        5    0.104167
WAL MART                    3    0.062500
SUPERAMA                    1    0.020833